* {
  box-sizing: border-box;
}


body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

/* .navBar {
  position: sticky;
  top: -1px;
} */

.navBarUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(10px);

  /* position: sticky;
  top: 0;
  width: 100%; */
}
.navBarli{
  float: left;
}
.navBarli a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBarli a:hover {
  background-color: #a2e5fa;
}

.mainContainer {
  text-align: center;
}

.youtubevideo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(255, 255, 255, .3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.video {
  text-align: center;
  padding: 5%;
  margin: 10%;
  background-color: rgba(255, 255, 255, .75);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

#p1 {
  background-image: url("AdobeStock_251517192.jpeg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#p2 {
  background-image: url("AdobeStock_369196720.jpeg");
  /* height: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  /* padding: 100px; */
}

.maincontent {
  padding: 5%;
  margin: 10%;
  background-color: rgba(255, 255, 255, .75);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  text-align: justify;
}

.footer {
  /* padding: 5%; */
  /* background-color: rgba(255, 255, 255, .75);
  backdrop-filter: blur(10px);
  border-radius: 15px; */
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}

#p3 {
  background-image: url("AdobeStock_369253259.jpeg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#active {
  background-color: #a2e5fa;
}

.columnsContainer{
  /* background-color: #ff0072; */
  width: 100%;
}

.leftContentColumn {
  margin: 0px;
  padding: 10px;
  width: 49%;
  display: inline-block;
}

#disasters {
  width: 100%;
  height: 100%;
}

.rightContentColumn {
  /* background-color: #eee; */
  margin: 0px;
  padding: 10px;
  width: 49%;
  display: inline-block;
}
